extends ../layout

include ../includes/_paginate

block content
  .container

    h1.main-title 
      | 예약 현황
      if reservations.total > 0
        .small #{reservations.total} 개의 예약이 있습니다.

    if reservations.total <= 0 
      .alert.alert-info 예약된 내역이 없습니다.
    else
      .reservations
        each reservation in reservations.docs
          .reservation
            a.title(href=`/reservations/${reservation.id}`)= reservation.roomnum

      +paginate(reservations, '/reservations', query)

    hr
    a.btn.btn-primary(href='/reservations/new') 예약하기
